
#MainLogo{
    display: inline-block;
    margin-bottom: 3em;
}
#MainDisplay {
    display: table;
}
#MainHeader {
    display: table-row;
    background: url(../images/laptop-sun-4196.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
@media screen and (orientation:portrait)
{    
    #MainHeader{
        background: url(../images/laptop-sun-p-2798.jpg) no-repeat center;
    }
}
@media screen and (max-height: 1200px) and (orientation:portrait)
{
    #MainHeader{
        background: url(../images/laptop-sun-p-1500.jpg) no-repeat center;
    }
}
@media screen and (max-height: 800px) and (orientation:portrait)
{
    #MainHeader{
        background: url(../images/laptop-sun-p-1000.jpg) no-repeat center;
    }
}
@media screen and (max-height: 480px) and (orientation:portrait)
{
    #MainHeader{
        background: url(../images/laptop-sun-p-500.jpg) no-repeat center;
    }
}
@media screen and (max-width: 1900px) and (orientation:landscape)
{
    #MainHeader{
        background: url(../images/laptop-sun-2098.jpg) no-repeat center;
    }
}
@media screen and (max-width: 1200px) and (orientation:landscape)
{
    #MainHeader{
        background: url(../images/laptop-sun-1500.jpg) no-repeat center;
    }
}
@media screen and (max-width: 800px) and (orientation:landscape)
{
    #MainHeader{
        background: url(../images/laptop-sun-1049.jpg) no-repeat center;
    }
}
@media screen and (max-width: 480px) and (orientation:landscape)
{
    #MainHeader{
        background: url(../images/laptop-sun-525.jpg) no-repeat center;
    }
}

#MainHeaderText{
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0 30px;
    color: #00738c;
}

#MainHeaderText .scroll-button {
    width: 200px;
    margin: auto;
}
.scroll-button {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 1px rgba(0,0,0,0.65);
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.scroll-button:hover{
    opacity: 1;
}
.scroll-button .glyphicon {font-size:2em; display:block;}

.gallery-text {
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    text-shadow: 0 1px 5px #333;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.gallery-item:hover .gallery-text{
    top: 55%;
}

.skill {
    padding: 3em;
}
.skill h3 {
    text-transform: uppercase;
    font-weight: 600;
}
.skill-branding {
    background: #3a79ad;
}
.skill-design {
    background: #55a4aa;
}
.skill-development {
    background: #84913c;
}
.skill-rocket {
    background: #e5b560;
}
.skill-icon {
    background: white;
    display: inline-block;
    padding: 30px;
    border-radius: 100px;
}