body {
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#NavLogo {
    height: 50px;
    margin: 10px;
    position: relative;
    top: 4px;
}
#MainDisplay {
    display: table;
}
#MainHeader {
    display: table-row;
    background: url(../images/laptop-sun-large.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
#MainHeaderText{
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    color: #00738c;
}
#MainHeaderText .floating-text {    
    background: rgba(255,255,255,0.65);
    margin: auto;
    display: inline-block;
    padding: 40px 80px;
}
#MainHeaderText .title {
    font-size: 6em;
    font-weight: 700;
}
#MainHeaderText .tagline {
    font-size: 3.4em;
    font-weight: 600;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.navbar-nav>li>a {
    line-height: 44px;
}
#MainNav, #MainNav *{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#MainNav .navbar-toggle .icon-bar {
    border: 1px solid #000000;
}
#MainNav {
    padding: 20px 30px;
}
#MainNav.scrolled {
    background-color: white;
    padding: 0;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters .col, .no-gutters [class*="col-"]{
    padding-right: 0;
    padding-left: 0;
}
a {
    color: #f7931e;
}
a:focus, a:hover {
    color: #f15a24;
}
#navbar a {    
    padding: 10px 15px;
}
#navbar a:focus, #navbar a:hover {
    background: none;
}
/*From: http://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
#navbar a:before/*, footer .footer-nav a:before*/ {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f15a24;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#navbar a:hover:before/*, footer .footer-nav a:hover:before*/ {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.main-portfolio {
}
.gallery-item {
}
.gallery-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.gallery-overlay:hover {
    opacity: 0;
}
.gallery-text {
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
}
footer .footer-nav {
    margin-bottom: 16px;
}
footer .footer-nav li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}
footer .footer-nav {
    padding: 0;
    color: #00738c;
}
.footer-tagline {
    font-size: 1.6em;
    margin-bottom: 14px;
}


/*BOOTSTRAP CHANGES*/