body {
    font-family: 'Montserrat', sans-serif;
}
#NavLogo {
    height: 50px;
    margin: 10px;
    position: relative;
    top: 2px;
}
#MainLogo{
    display: inline-block;
}
#MainDisplay {
    display: table;
}
#MainHeader {
    display: table-row;
    background: url(../images/laptop-sun-4196.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}
@media (orientation:portrait)
{    
    #MainHeader{
        background: url(../images/laptop-sun-p-2798.jpg) no-repeat center;
    }
}
@media (max-height: 1500px) and (orientation:portrait)
{
    #MainHeader{
        background: url(../images/laptop-sun-p-1500.jpg) no-repeat center;
    }
}
@media (max-height: 1000px) and (orientation:portrait)
{
    #MainHeader{
        background: url(../images/laptop-sun-p-1000.jpg) no-repeat center;
    }
}
@media (max-height: 500px) and (orientation:portrait)
{
    #MainHeader{
        background: url(../images/laptop-sun-p-500.jpg) no-repeat center;
    }
}
@media (max-width: 2098px) and (orientation:landscape)
{
    #MainHeader{
        background: url(../images/laptop-sun-2098.jpg) no-repeat center;
    }
}
@media (max-width: 1500px) and (orientation:landscape)
{
    #MainHeader{
        background: url(../images/laptop-sun-1500.jpg) no-repeat center;
    }
}
@media (max-width: 1049px) and (orientation:landscape)
{
    #MainHeader{
        background: url(../images/laptop-sun-1049.jpg) no-repeat center;
    }
}
@media (max-width: 525px) and (orientation:landscape)
{
    #MainHeader{
        background: url(../images/laptop-sun-525.jpg) no-repeat center;
    }
}

#MainHeaderText{
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 0 30px;
    color: #00738c;
}
#MainHeaderText .floating-text {    
    background: rgba(255,255,255,0.65);
    margin: auto;
    display: inline-block;
    padding: 40px 80px;
}
#MainHeaderText .title {
    font-size: 6em;
    font-weight: 700;
}
#MainHeaderText .tagline {
    font-size: 3.4em;
    font-weight: 600;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.navbar-nav>li>a {
    line-height: 44px;
}
#MainNav, #MainNav *{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#MainNav .navbar-toggle .icon-bar {
    border: 1px solid #000000;
}
#MainNav {
    /*padding: 20px 30px;*/
}
@media (max-width:768px){
    #MainNav{
        background-color: white;
    }
}
#MainNav.scrolled {
    background-color: white;
    /*padding: 0;*/
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters .col, .no-gutters [class*="col-"]{
    padding-right: 0;
    padding-left: 0;
}
a {
    color: #f7931e;
}
a:focus, a:hover {
    color: #f15a24;
}
#navbar a {    
    padding: 10px 15px;
}
#navbar a:focus, #navbar a:hover {
    background: none;
}
@media (min-width:768px) {
    /*From: http://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
    #navbar a:before /*, footer .footer-nav a:before*/ {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #f15a24;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    #navbar a:hover:before /*, footer .footer-nav a:hover:before*/ {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}


.main-portfolio {
}
.gallery-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.gallery-overlay:hover {
    opacity: 0;
}
.gallery-text {
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.gallery-item:hover .gallery-text{
    top: 55%;
}
footer .footer-nav {
}
footer .footer-nav li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}
footer .footer-nav {
    padding: 0;
    color: #00738c;
}
.footer-tagline {
    font-size: 1.6em;
    margin-bottom: 14px;
}
.navbar-toggle {
    padding: 19px 10px;
}




#page-loader {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 99999;
}
#page-loader .page-loader-gif {
    display: block;
    width: 800px;
    height: 328px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -164px 0 0 -400px;
    background: url(../images/loading.gif) no-repeat;
}

/*BOOTSTRAP CHANGES*/