<div class="container-full">
    <div class="row page-title text-center">
        <div class="title-background" style="background-image: url(/images/laptop-sun-4196.jpg); background-position: center top; opacity: 1;"></div>
        <div class="col-xs-12 title-text">
            <h1>Albums</h1>
        </div>
    </div>
    <div class="container-full">
        <div class="row album-gallery no-gutters">
            <div class="section-loader"><span class="section-loader-gif"></span></div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 portfolio-item" ng-repeat="album in albums">
                <a href="#/albums/{{album.AlbumId}}">
                    <img class="img-responsive" src="{{album.FeaturedImageUrlMedium}}">
                    <div class="portfolio-text">{{album.Name}}</div>
                </a>
            </div>
        </div>
    </div>
</div>