<div class="container-full">
    <div class="row page-title text-center">
        <div class="title-background" style="background-image: url(/images/laptop-sun-4196.jpg); background-position: center top; opacity: 1;"></div>
        <div class="col-xs-12 title-text">
            <h1>About Me</h1>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-md-push-6 col-md-6 col-sm-12 col-xs-12 quote-block table-block">
            <blockquote class="table-block-cell">
                <p>An amateur practices until he gets it right. A professional practices until he can’t get it wrong.</p>
                <footer><cite>Anonymous</cite></footer>
            </blockquote>
        </div>
        <div class="col-md-pull-6 col-md-6 col-sm-12 col-xs-12 rae-work-block table-block"></div>
    </div>
</div>
<div class="container-full container-table">
    <div class="row no-gutters text-center row-table">
        <div class="col-lg-4 hidden-md hidden-sm hidden-xs col-table">
            <div class="about-icon about-icon-pen">
                <img src="images/pen-w.svg" />
            </div>
        </div>
        <div class="col-lg-4 col-md-offset-2 col-md-8 about-blurb col-table">
            <p>I'm a <strong>full-stack developer</strong> with a rich history in web <span class="about-text-code">development</span> and <span class="about-text-pen">design</span>. What began as a spark for creating art grew into a passion for building solutions. I have spent over 8 years primarily working in C# .NET and JavaScript, and I am constantly working to advance my skill set. Originally I was an artist that sought to bring functionality to my designs. Now I am a developer who strives to make my applications into works of art.</p>
        </div>
        <div class="col-lg-4 hidden-md hidden-sm hidden-xs col-table">
            <div class="about-icon about-icon-code">
                <img src="images/code-w.svg" />
            </div>
        </div>
    </div>
</div>
<div class="container-full">
    <div class="row no-gutters">
        <div class="col-md-6 col-sm-12 col-xs-12 quote-block table-block">
            <blockquote class="table-block-cell">
                <p>Laughter is the shortest distance between two people.</p>
                <footer><cite>Victor Borge</cite></footer>
            </blockquote>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 rae-fun-block table-block"></div>
    </div>
</div>
<div class="container-full container-table">
    <div class="row no-gutters text-center row-table">
        <div class="col-lg-4 hidden-md hidden-sm hidden-xs col-table">
            <div class="about-icon about-icon-fingerprint">
                <img src="images/fingerprint-w.svg" />
            </div>
        </div>
        <div class="col-lg-4 col-md-offset-2 col-md-8 about-blurb col-table">
            <p>Due to my unusual background, I tend to bring new and exciting ideas to the table when it comes to addressing a software or <span class="about-text-fingerprint">branding</span> need. My gift for pattern recognition allows me to decide the best way to conform, or diverge, from a standard. Because of these things, I am able to produce <strong>highly personalized and effective results</strong>. The <span class="about-text-rocket">rocket science</span> of design and development is about filling the gaps that normal solutions just don't fit.</p>
        </div>
        <div class="col-lg-4 hidden-md hidden-sm hidden-xs col-table">
            <div class="about-icon about-icon-rocket">
                <img src="images/rocket-w.svg" />
            </div>
        </div>
    </div>
</div>